<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Liste Professeurs</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body class="container">
        <table class="table table-striped">
            <caption class="text-center h3 text-secondary mt-4 mb-3" style="caption-side: top">Liste des Professeurs</caption>
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom(s)</th>
                <th>Adresse</th>
                <th>Email</th>
                <th>Etat</th>
                <th colspan="2">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p : ${professeurs}">
                <td th:text="${p.getId()}"></td>
                <td th:text="${p.getNom()}"></td>
                <td th:text="${p.getPrenom()}"></td>
                <td th:text="${p.getAdresse()}"></td>
                <td th:text="${p.getEmail()}"></td>
                <td th:text="${p.getEtat()}"></td>
                <td><a th:href="@{/professeur/update/{id}(id=${p.id})}">Modifier</a></td>
                <td><a th:href="@{/professeur/delete/{id}(id=${p.id})}">Supprimer</a></td>
            </tr>
            </tbody>
        </table>
    </body>
</html>